* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgb(114, 150, 32), rgb(196, 230, 7));
}

.header {
    color: whitesmoke;
    font-size: 40px;
    font-family: monospace;
    cursor: default;
    margin-left: 10px;
}

.container {
    background-color: greenyellow;
    margin: 27px auto;
    width: 50%;
    height: 7cm;
    box-shadow: inset 5px 5px 15px rgba(255, 255, 255, 0.3),
        inset -5px -5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    padding: 15px;
    border: none;
}

#screen {
    display: block;
    width: 70%;
    height: 1cm;
    margin: 10px auto;
    border-radius: 10px;
    background: transparent;
    border-top: none;
    border-right: none;
    border: none;
    padding: 9px;
    font-size: 20px;
    font-family: courier;
    font-weight: bolder;
    letter-spacing: 2px;
    outline: none;
    box-shadow: inset 2px 2px 9px rgba(255, 255, 255, 0.3),
        inset -2px -2px 5px rgba(0, 0, 0, 0.4);
    cursor: not-allowed;
}

.btn {
    width: 80%;
    height: 1cm;
    font-size: 20px;
    font-family: courier;
    font-weight: bolder;
    color: white;
    background: rgb(25, 160, 7);
    border: none;
    box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.3),
        2px 2px 3px rgba(0, 0, 0, 0.4);
    margin: 6px auto;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    cursor: pointer;
    display: inline;
    transition: all 1s;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.2);
    color: green;
}

#screen:hover,
.max_num:hover {
    background: rgba(0, 0, 0, 0.1);
}

.max_num {
    display: inline;
    text-align: center;
    width: 12%;
    outline: none;
    height: 0.5cm;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background: transparent;
    padding: 9px;
    box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.5),
        2px 2px 3px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
}

.copybtn {
    font-size: 20px;
    padding: 5px;
    font-family: courier;
    text-transform: capitalize;
    background: transparent;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5),
        2px 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    transition: background 1s, transform 0.5s;
    font-weight: bolder;
}

.copybtn:active {
    transform: scale(1.3);
}

.copybtn:hover {
    background: green;
    cursor: copy;
    color: white;
}