* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-image: url('aljoscha-laschgari-_7PbORkwjMA-unsplash.jpg');
}

.header {
    font-family: 'Bangers', sans-serif;
    font-size: 70px;
    color: skyblue;
    margin-bottom: 10px;

}

.container {
    width: 70%;
    height: 12cm;
    margin: 0 auto;
    background: linear-gradient(to top, rgb(124, 168, 172), rgb(94, 226, 226));
    padding: 15px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 10px rgba(255, 255, 255, 0.401),
        inset -6px -6px 10px rgba(0, 0, 0, 0.5),
        -30px 30px RGBA(0, 0, 0, 0.205);
}

#display {
    width: 70%;
    height: 4cm;
    margin: 8px auto;
    border-radius: 50px;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.321),
        3px 3px 5px rgba(0, 0, 0, 0.321);
    cursor: not-allowed;
}

#textarea {
    text-align: center;
    font-family: 'Stint Ultra Condensed', arial;
    font-size: 2em;
    font-weight: bold;
    color: RGBA(255, 0, 24, 1);
    cursor: not-allowed;
    width: 100%;
    height: fit-content;
    border: none;
    background: transparent;
    outline: none;
}

.red {
    color: red;
    font-size: 1.2em;
    font-family: 'Sofia', cursive;
    font-weight: bold;
}

.green {
    color: green;
    font-size: 1.2em;
    font-family: 'Sofia', cursive;
    font-weight: bold;
}

.blue {
    color: blue;
    font-size: 1.2em;
    font-family: 'Sofia', cursive;
    font-weight: bold;
}

.opacity {
    color: grey;
    font-size: 1.2em;
    font-family: 'Sofia', cursive;
    font-weight: bold;
}

input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    margin-left: 10px;
    outline: none;
    background: transparent;
    cursor: grab;
}

input[type=range]:focus {
    cursor: grabbing;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0.192);
    height: 15px;
    border-radius: 19px;
    box-shadow: inset -1px -1px 3px white,
        inset 1px 1px 3px black;
}

#red::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 23px;
    width: 17px;
    border-radius: 13px;
    margin-top: -5px;
    background: red;
    box-shadow: 5px 5px 10px black,
        -5px -5px 10px white;
}

#blue::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 23px;
    width: 17px;
    border-radius: 13px;
    margin-top: -5px;
    background: blue;
    box-shadow: 5px 5px 10px black,
        -5px -5px 10px white;
}

#green::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 23px;
    width: 17px;
    border-radius: 13px;
    margin-top: -5px;
    background: green;
    box-shadow: 5px 5px 10px black,
        -5px -5px 10px white;
}

#opacity::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 23px;
    width: 17px;
    border-radius: 13px;
    margin-top: -5px;
    background: grey;
    box-shadow: 5px 5px 10px black,
        -5px -5px 10px white;
}

/* for firefox */

input[type=range]::-moz-range-track {
    background: rgba(0, 0, 0, 0.192);
    height: 15px;
    border-radius: 19px;
    box-shadow: inset -1px -1px 3px white,
        inset 1px 1px 3px black;
}

#red::-moz-range-thumb {
    -webkit-appearance: none;
    height: 23px;
    width: 17px;
    border-radius: 13px;
    margin-top: -5px;
    background: red;
    box-shadow: 5px 5px 10px black,
        -5px -5px 10px white;
}


#blue::-moz-range-thumb {
    -webkit-appearance: none;
    height: 23px;
    width: 17px;
    border-radius: 13px;
    margin-top: -5px;
    background: blue;
    box-shadow: 5px 5px 10px black,
        -5px -5px 10px white;
}

#green::-moz-range-thumb {
    -webkit-appearance: none;
    height: 23px;
    width: 17px;
    border-radius: 13px;
    margin-top: -5px;
    background: green;
    box-shadow: 5px 5px 10px black,
        -5px -5px 10px white;
}

#opacity::-moz-range-thumb {
    -webkit-appearance: none;
    height: 23px;
    width: 17px;
    border-radius: 13px;
    margin-top: -5px;
    background: grey;
    box-shadow: 5px 5px 10px black,
        -5px -5px 10px white;
}

.btn {
    font-size: 25px;
    padding: 5px;
    font-family: 'Stint Ultra Condensed', courier;
    text-transform: capitalize;
    background: transparent;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black,
        -2px -2px 5px white;
    border: none;
    transition: background 1s, transform 0.5s;
    text-shadow: 2px 2px 5px red;
    font-weight: bolder;
}

.btn:active {
    transform: scale(1.3);
}

.btn:hover {
    background: skyblue;
    cursor: copy;
}